@font-face {
  font-family: "Neue Haas Unica";
  src: local("Neue Haas Unica Regular"), local("NeueHaasUnica-Regular"),
    url("assets/font/NeueHaasUnica-Regular.woff2") format("woff2"),
    url("assets/font/NeueHaasUnica-Regular.woff") format("woff"),
    url("assets/font/NeueHaasUnica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
